.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-page > .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

@media only screen and (max-width: 600px) {
  .main-page {
    flex-direction: column;
    margin: 10px;
  }
  .main-page > .description {
    order: 1;
  }
  .main-page > .white-panel.login {
    order: 2;
  }
  .main-page > .white-panel.ranking {
    order: 3;
  }
  .main-page > .description > img {
    width: 90%;
  }
  .main-page > .description > h1 {
    text-align: center;
  }
}
