.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-page > .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 0px 20px;
}
