.black-background-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #111c;
  margin: 0px !important;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  animation: grow 0.2s ease;
  z-index: 1000;
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
